In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sqlalchemy as sql
from sqlalchemy import create_engine

In [2]:

engine = sql.create_engine("postgresql://postgres:Purdear5567@localhost:5432/Video_Game_Analysis_DB")

In [4]:
dftest = pd.read_sql_table('video_games', con=engine)
dftest

,game_name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,user_score
0,007: Quantum of Solace,X360,2008,Action,Activision,0.82,0.51,0.01,0.14,1.48,65,7.1
1,007: Quantum of Solace,PS3,2008,Action,Activision,0.43,0.51,0.02,0.19,1.14,65,6.6
2,007: Quantum of Solace,Wii,2008,Action,Activision,0.29,0.28,0.01,0.07,0.65,54,7.5
3,007: Quantum of Solace,PC,2008,Action,Activision,0.01,0.01,0.00,0.00,0.03,70,6.3
4,1 vs. 100,DS,2008,Misc,DSI Games,0.08,0.00,0.00,0.01,0.08,38,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...
2747,Zoo Keeper,DS,2004,Puzzle,Ignition Entertainment,0.10,0.01,0.05,0.01,0.16,74,7.5
2748,Zoo Tycoon 2,PC,2004,Strategy,Microsoft Game Studios,0.00,0.05,0.00,0.01,0.06,72,8.1
2749,Zoo Tycoon 2 DS,DS,2008,Strategy,THQ,0.24,0.03,0.00,0.02,0.29,60,5.4
2750,Zoo Tycoon DS,DS,2005,Strategy,THQ,0.86,0.03,0.01,0.08,0.98,44,6.6
2751,Zubo,DS,2008,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11,75,7.6

In [3]:
#Path to the raw data
df = pd.read_csv(Path('./Resources/Vgratings.csv'))
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#encoding string variables
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['Genre'] = le.fit_transform(df2['Genre'])

In [5]:
df3 = df2.copy()
df3['Publisher'] = le.fit_transform(df3['Publisher'])

In [6]:
df4 = df3.copy()
df4['Platform'] = le.fit_transform(df4['Platform'])

In [18]:
df4.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,26,2006.0,10,361,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,11,1985.0,4,361,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,26,2008.0,6,361,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,26,2009.0,10,361,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,5,1996.0,7,361,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,5,1989.0,5,361,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,4,2006.0,4,361,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,26,2006.0,3,361,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,26,2009.0,4,361,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,11,1984.0,8,361,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Drop null Values
df_final = df4[['Global_Sales', 'Critic_Score','Publisher','Genre','Platform']].dropna()

In [9]:
df_final

       Global_Sales  Critic_Score  Publisher  Genre  Platform
0             82.53          76.0        361     10        26
2             35.52          82.0        361      6        26
3             32.77          80.0        361     10        26
6             29.80          89.0        361      4         4
7             28.92          58.0        361      3        26
...             ...           ...        ...    ...       ...
16700          0.01          61.0        123      8        13
16701          0.01          53.0        528      5         7
16702          0.01          48.0        298      5         4
16706          0.01          60.0        533     11        13
16709          0.01          63.0        113      1        13

[8137 rows x 5 columns]

In [10]:
#Scale the data
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
scaled_df = pd.DataFrame(data_scaler.fit_transform(df_final))

In [11]:
scaled_df

              0         1         2         3         4
0     45.051907  0.504568  0.350426  1.294156  1.029561
1     19.173789  0.935067  0.350426  0.240021  1.029561
2     17.659966  0.791568  0.350426  1.294156  1.029561
3     16.025037  1.437316  0.350426 -0.287047 -1.586487
4     15.540614 -0.786929  0.350426 -0.550581  1.029561
...         ...       ...       ...       ...       ...
8132  -0.373796 -0.571680 -0.950739  0.767089 -0.516285
8133  -0.373796 -1.145679  1.263429 -0.023513 -1.229753
8134  -0.373796 -1.504428  0.006000 -0.023513 -1.586487
8135  -0.373796 -0.643430  1.290764  1.557690 -0.516285
8136  -0.373796 -0.428180 -1.005410 -1.077649 -0.516285

[8137 rows x 5 columns]

In [12]:
#Define variables 
X = scaled_df[[1,2,3,4]]
y = scaled_df[0]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Creating Linear Regression instance.
model = LinearRegression()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [16]:
model.score(X_test, y_test)

0.061013839882188003