In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import sqlalchemy as sql
from sqlalchemy import create_engine

In [2]:

engine = sql.create_engine("postgresql://postgres:admin@localhost:5432/Video_Game_Analysis_DB")

In [3]:
df = pd.read_sql_table('joined', con=engine)
df

,game_name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,user_score,game_id
0,007: Quantum of Solace,X360,2008,Action,Activision,0.82,0.51,0.01,0.14,1.48,65,7.1,101
1,007: Quantum of Solace,PS3,2008,Action,Activision,0.43,0.51,0.02,0.19,1.14,65,6.6,101
2,007: Quantum of Solace,Wii,2008,Action,Activision,0.29,0.28,0.01,0.07,0.65,54,7.5,101
3,007: Quantum of Solace,PC,2008,Action,Activision,0.01,0.01,0.00,0.00,0.03,70,6.3,101
4,1 vs. 100,DS,2008,Misc,DSI Games,0.08,0.00,0.00,0.01,0.08,38,3.2,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,Zoo Keeper,DS,2004,Puzzle,Ignition Entertainment,0.10,0.01,0.05,0.01,0.16,74,7.5,3865
2748,Zoo Tycoon 2,PC,2004,Strategy,Microsoft Game Studios,0.00,0.05,0.00,0.01,0.06,72,8.1,3867
2749,Zoo Tycoon 2 DS,DS,2008,Strategy,THQ,0.24,0.03,0.00,0.02,0.29,60,5.4,3868
2750,Zoo Tycoon DS,DS,2005,Strategy,THQ,0.86,0.03,0.01,0.08,0.98,44,6.6,3870
2751,Zubo,DS,2008,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11,75,7.6,3872

In [4]:
#Path to the raw data
#df = pd.read_csv(Path('./Resources/Vgratings.csv'))
#df.head(5)

In [5]:
#encoding string variables
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['genre'] = le.fit_transform(df2['genre'])

In [6]:
df3 = df2.copy()
df3['publisher'] = le.fit_transform(df3['publisher'])

In [7]:
df4 = df3.copy()
df4['platform'] = le.fit_transform(df4['platform'])

In [8]:
df4.head(10)

,game_name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,user_score,game_id
0,007: Quantum of Solace,8,2008,0,6,0.82,0.51,0.01,0.14,1.48,65,7.1,101
1,007: Quantum of Solace,5,2008,0,6,0.43,0.51,0.02,0.19,1.14,65,6.6,101
2,007: Quantum of Solace,7,2008,0,6,0.29,0.28,0.01,0.07,0.65,54,7.5,101
3,007: Quantum of Solace,3,2008,0,6,0.01,0.01,0.00,0.00,0.03,70,6.3,101
4,1 vs. 100,0,2008,3,28,0.08,0.00,0.00,0.01,0.08,38,3.2,102
5,100 Classic Books,0,2008,3,96,0.12,0.52,0.00,0.02,0.66,70,6.0,103
6,1701 A.D.,3,2006,9,30,0.00,0.25,0.00,0.04,0.30,79,8.3,106
7,187: Ride or Die,4,2005,6,136,0.07,0.06,0.00,0.02,0.15,52,6.8,107
8,187: Ride or Die,9,2005,6,136,0.05,0.01,0.00,0.00,0.06,51,6.9,107
9,24: The Game,4,2006,1,117,0.15,0.12,0.00,0.04,0.30,62,8.2,117

In [9]:
#Drop null Values
df_final = df4[['global_sales', 'critic_score','publisher','genre','platform']].dropna()

In [10]:
df_final

      global_sales  critic_score  publisher  genre  platform
0             1.48            65          6      0         8
1             1.14            65          6      0         5
2             0.65            54          6      0         7
3             0.03            70          6      0         3
4             0.08            38         28      3         0
...            ...           ...        ...    ...       ...
2747          0.16            74         59      5         0
2748          0.06            72         85     11         3
2749          0.29            60        128     11         0
2750          0.98            44        128     11         0
2751          0.11            75         36      3         0

[2752 rows x 5 columns]

In [11]:
#Scale the data
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()
scaled_df = pd.DataFrame(data_scaler.fit_transform(df_final))

c:\Users\Razva\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1677: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\Razva\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1677: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

In [12]:
scaled_df

             0         1         2         3         4
0     0.319969 -0.272239 -1.475751 -1.405074  1.131239
1     0.174206 -0.272239 -1.475751 -1.405074  0.065085
2    -0.035864 -1.073681 -1.475751 -1.405074  0.775854
3    -0.301667  0.092052 -1.475751 -1.405074 -0.645684
4    -0.280232 -2.239414 -1.008277 -0.610751 -1.711838
...        ...       ...       ...       ...       ...
2747 -0.245935  0.383486 -0.349563 -0.081203 -1.711838
2748 -0.288806  0.237769  0.202906  1.507443 -0.645684
2749 -0.190202 -0.636531  1.116606  1.507443 -1.711838
2750  0.105611 -1.802264  1.116606  1.507443 -1.711838
2751 -0.267370  0.456344 -0.838286 -0.610751 -1.711838

[2752 rows x 5 columns]

In [13]:
#Define variables 
X = scaled_df[[1,2,3,4]]
y = scaled_df[0]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Creating Linear Regression instance.
model = LinearRegression()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [17]:
model.score(X_test, y_test)

0.07345029395616931